@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Not Compatible</title>
    <!--[if lte IE 8]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    @Styles.Render("~/Content/css")
</head>
<body style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 12px;">
    <table align="center" style="margin-top: 75px;">
        
        <tr>
            <td style="background-color: #fa0000; color: #FFFFFF; padding: 5px; font-weight: bold; font-size: 24px; border-top-left-radius: 5px; border-top-right-radius: 5px;">Not Compatible
            </td>
        </tr>
        <tr>
            <td style="padding: 15px; background-color: #fdf5e6; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Sorry – to run the BB WebTemplate Demo you would require Internet Explorer 10 (or above), or recent versions of Firefox/Chrome.  
                <br />
                Later we can update the Demo to be compatible with earlier versions of Internet Explorer – this will require a little extra work.                
            </td>
        </tr>
    </table>
</body>
</html>
