<div permission="ManageRoles">
    <div class="page-header">
        <h1>Manage Roles</h1>
    </div>
    <div class="k-grid-filter-container">
        <div class="row">
            <div class="col-sm-6">
                <input name="roleName" type="text" class="form-control" placeholder="Role name" upper-hint ng-model="RolesCtrl.Filter.Name" />
            </div>
            <div class="col-sm-3 col-xs-row">
                <input type="button" class="k-button margin-right-10" value="Search" ng-click="RolesCtrl.ApplyFilter()" />
                <input type="button" class="k-button" value="Clear" ng-click="RolesCtrl.ResetFilter()" />
            </div>
        </div>
    </div>
    <div kendo-grid k-data-source="RolesCtrl.RolesDS" k-options="RolesCtrl.GridOptions">
    </div>
    <div class="margin-bottom-15">
        <button class="k-button" ng-click="RolesCtrl.ViewDetails(0)">Create Role</button>
    </div>
</div>
