<div class="page-header">
    <h1>Guidelines</h1>
    <span class="purpose">This is a sample page used for explaining and demonstrating the use of the BBWT2 styles.</span>
</div>
<h3>Contents</h3>
<div>
    <ul class="unbulleted-list">
        <li><a href="/example/guidelines#generalRules">General UI Rules for Developers</a> </li>
        <li><a href="/example/guidelines#basicStructure">Basic Page Structure</a></li>
        <li><a href="/example/guidelines#headings">Headings</a></li>
        <li><a href="/example/guidelines#indenting">Indenting</a></li>
        <li><a href="/example/guidelines#labels">Labels and Inputs</a></li>
        <li><a href="/example/guidelines#buttons">Buttons</a></li>
        <li><a href="/example/guidelines#calendar">Calendar</a></li>
        <li><a href="/example/guidelines#radios">Radio Buttons and Checkboxes</a></li>
        <li><a href="/example/guidelines#moretext">Disabled Controls</a></li>
        <li><a href="/example/guidelines#links">Links</a></li>
        <li><a href="/example/guidelines#errors">Error Messages</a></li>
        <li><a href="/example/guidelines#search">Search</a></li>
        <li><a href="/example/guidelines#tabs">Tabs</a></li>
        <li><a href="/example/guidelines#popups">Popups and Dialogs</a></li>
        <li><a href="/example/guidelines#kendogrids">Grids</a></li>
        <li><a href="/example/guidelines#tree">Tree</a></li>
        <!--<li><a href="/example/guidelines#notification">Notifications</a></li>-->
    </ul>
    <div class="guide-section margin-top-45" id="generalRules">
        <h3>General UI Rules for Developers</h3>
        <ul>
            <li>Always use "email" rather than "e-mail".</li>
            <li>Use the following capitalisation rules: 
                <ul>
                    <li>Title case for page titles, tab page titles, headings,titles of popup dialogs, titles of popup messages, 
                        menu labels, titles of grid columns, titles of table columns, button labels. 
                        Use <a href="http://individed.com/code/to-title-case/">http://individed.com/code/to-title-case/</a> for determining the proper English title case - 
                        it’s not as simple as capitalising every word. We will be rolling out a tool 
                        to help developers with this sometime soon.
                    </li>
                    <li>Sentence case for labels for checkboxes, drop down menus, lists, radio buttons, 
                        text edits, labels for groups of radio buttons and checkboxes, 
                        strings in drop down menus and lists, text inside popup messages, 
                        text inside progress indicators, links to other pages. Sentence case is the ‘normal’ 
                        use in English prose: only the first word is capitalised, except for proper nouns, 
                        acronyms, etc. See <a href="http://en.wikipedia.org/wiki/Letter_case">http://en.wikipedia.org/wiki/Letter_case</a> for details.
                    </li>
                </ul>
            </li>
            <li>We should never use "Click _here_" - we should always use more natural sentences. </li>
            <li>Use one column layouts; avoid two-column layouts.</li>
        </ul>
    </div>
    <div class="guidelines-sections">
        <div class="guide-section" id="basicStructure" ng-include src="'app/views/example/partials/basicStructure.html'"></div>
        <div class="guide-section" id="headings" ng-include src="'app/views/example/partials/headings.html'"></div>
        <div class="guide-section" id="indenting" ng-include src="'app/views/example/partials/indenting.html'"></div>
        <div class="guide-section" id="labels" ng-include src="'app/views/example/partials/labels.html'"></div>
        <div class="guide-section" id="buttons" ng-include src="'app/views/example/partials/buttons.html'"></div>
        <div class="guide-section" id="calendar" ng-include src="'app/views/example/partials/calendar.html'"></div>
        <div class="guide-section" id="radios" ng-include src="'app/views/example/partials/radios.html'"></div>
        <div class="guide-section" id="moretext" ng-include src="'app/views/example/partials/moretext.html'"></div>
        <div class="guide-section" id="links" ng-include src="'app/views/example/partials/links.html'"></div>
        <div class="guide-section" id="errors" ng-include src="'app/views/example/partials/errors.html'"></div>
        <div class="guide-section" id="search" ng-include src="'app/views/example/partials/search.html'"></div>
        <div class="guide-section" id="tabs" ng-include src="'app/views/example/partials/tabs.html'"></div>
        <div class="guide-section" id="popups" ng-include src="'app/views/example/partials/popups.html'"></div>
        <div class="guide-section" id="kendogrids" ng-include src="'app/views/example/partials/kendogrids.html'"></div>
        <div class="guide-section" id="tree" ng-include src="'app/views/example/partials/tree.html'"></div>
        <!--<div class="guide-section" id="notification" ng-include src="'app/views/example/partials/notification.html'"></div>-->
    </div>
</div>
