<span ng-click="CloseCart()" class="CloseX">x</span>

<div class="CartContainer">
    <span ng-show="NoActions" style="color:Black; margin-top: 60px; position: absolute; left: 0; right: 0;">You have no items currently added</span>
    <div class="CartListHeader">
        <h6 style="font-family: Arial; color: #E20000; text-align: left; font-size: 25px; z-index: 1; margin-left: 68px; margin-top: 30px;">Mini Cart</h6>
        <img style="position: absolute; width: 30px; left: 40px; top: -3px;" src="../../Content/images/Pixbind/cart2.png" />
    </div>
    <hr style="margin-top:0px; margin-bottom: 12px;" />

    <div class="CartList">
        <div class="CartItem" ng-repeat="item in AuthSvc.CartProducts">
            {{ item.ProductCategory }} - {{ item.ProductName }}
            <span style="position: absolute; margin-top: 20px; left: 50px; font-size:15px">{{ item.ProductPrice  }}$</span>
            <img title="Delete" class="deleteCartItem" src="../../Content/images/Pixbind/delete_icon.png" ng-click="DeleteCartItem(item.Id)" />
            <img class="CartItemImg" src="../../Content/images/Uploads/{{item.File}}" />
        </div>
    </div>
    <hr style="margin-top:0px; margin-bottom: 12px;" />
    <br />
    <div class="form-group">
        <div class="col-sm-6 col-lg-5 col-xs-12">
        </div>
    </div>
    <br />
</div>
<span style="font-family:Arial; color:#E20000; position: absolute; left: 40px; top: 429px; font-size: 25px;">Total: {{AuthSvc.CartTotal | setDecimal:2}}$</span>

<button class="AnimmaxBtn" ng-click="AuthSvc.CheckOut(AuthSvc.CartTotal)" style="position: absolute; width: 120px; top: 430px; right: 35px;">Checkout</button>
<!--<div style="width:100%; height:100%; position:fixed; top:0; left:0; background:orange;"></div>-->

<!--<script>
    $(document).tooltip();
</script>-->