<span ng-click="CloseCheckoutForm()" class="CloseX">x</span>
<!--<span style="font-family:Arial; color:#E20000; position: absolute; left: 40px; top: 395px; font-size: 25px;">Total: {AuthSvc.CartTotal}}$</span>-->
<!--<button class="AnimmaxBtn" ng-click="Checkout()" style="position: absolute; width: 120px; top: 430px; right: 35px;"></button>-->

<div class="PaypalBtn" ng-click="AuthSvc.GetCartList()">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value="cashout@live.com">
        <!-- Specify a Buy Now button. -->
        <input type="hidden" name="cmd" value="_xclick">
        <!-- Specify details about the item that buyers will purchase. -->
        <input type="hidden" name="item_name" value="{{AuthSvc.CartList}}">
        <input type="hidden" name="amount" value="{{AuthSvc.CartTotal}}">
        <input type="hidden" name="currency_code" value="USD">
        <!-- Display the payment button. -->
        <input style="height: 28px;" type="image" formtarget="_blank" name="submit" border="0"
               src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
               alt="PayPal - The safer, easier way to pay online">
        <!--  <img alt="" border="0" width="1" height="1"
              src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">-->
    </form>
</div>

<div class="SkrillBtn" ng-click="AuthSvc.GetCartList()">
    <form action=" https />/www.moneybookers.com/app/payment.pl" method="post" target="_blank">
        <input type="hidden" name="pay_to_email" value="nasa.and.science@gmail.com">
        <input type="hidden" name="status_url" value="nasa.and.science@gmail.com">
        <input type="hidden" name="language" value="EN">
        <input type="hidden" name="amount" value="{{AuthSvc.CartTotal}}">
        <input type="hidden" name="currency" value="USD">
        <input type="hidden" name="detail1_description" value="Varios">
        <input type="hidden" name="detail1_text" value="{{AuthSvc.CartList}}">
        <!--<img src="../../Content/images/AnimMax/skrillbtn.png" />-->
        <input class="SkrillBtnImg" type="submit" value="">
    </form>
</div>