<div class="SearchBar">
    <div class="searchInputContainer">
        <!--<input class="SearchInput" type="text" placeholder="Search" ng-model="SearchSvc.texttoSearch" ng-mouseover="OnSearchMenuOver()" ng-mouseleave="OnSearchMenuExit()" />
        <img class="showtrayBtn" ng-click="ShowTray()" ng-mouseover="OnSearchMenuOver()" ng-mouseleave="OnSearchMenuExit()" src="../../Content/images/AnimMax/dropdown-arrow.png" />
        <img ng-click="Search(SearchSvc.texttoSearch)" style="margin-left: 10px; margin-top: 15px" class="showtrayBtn" src="../../Content/images/AnimMax/magnifying-glass.png" />
        <div id="SearchTrayId" class="SearchTray" ng-mouseover="OnSearchMenuOver()" ng-mouseleave="OnSearchMenuExit()">
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.IdleCheck" /><h6 class="SearchOption" style="color:black">Idle</h6></div>
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.MoveCheck" /><h6 class="SearchOption" style="color:black">Move</h6></div>
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.TalkCheck" /><h6 class="SearchOption" style="color:black">Talk</h6></div>
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.DanceCheck" /><h6 class="SearchOption" style="color:black">Dance</h6></div>
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.BoxingCheck" /><h6 class="SearchOption" style="color:black">Boxing</h6></div>
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.MoodCheck" /><h6 class="SearchOption" style="color:black">Mood</h6></div>
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.StrikeCheck" /><h6 class="SearchOption" style="color:black">Strike</h6></div>
            <div class="SearchCategory" ng-click="" style="background-color: #fff;"><input type="checkbox" ng-model="SearchSvc.OtherCheck" /><h6 class="SearchOption" style="color:black">Other</h6></div>     
        </div>-->
    </div>
</div>