<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="PhantomJS" version="1.9.7" targetFramework="net45" />
  <package id="ReportViewerCommon" version="11.0.0.0" targetFramework="net45" />
  <package id="ReportViewerWebForms" version="11.0.0.0" targetFramework="net45" />
  <package id="WebMatrix.WebData" version="2.0.30506.0" targetFramework="net45" />
</packages>