<div class="kk-body">
    <div class="col-md-12 HeaderContainer">
        <div class="InnerShadow"></div>
        <img src="../../../Content/images/Pixbind/bg3.jpg" class="ImgHeader" />
    </div>
    <nav class="b-generic-nav" data-role="pagenav" style="box-shadow: 0px 1px 5px #B17E34; z-index: 1;">
        <!--<input class="px-search" ng-mouseenter="ShowCategoryPanel()" type="text" name="name" placeholder="Search" />-->
        <!--<img class="px-search-lupa" src="../../../Content/images/Pixbind/lupa.png" />-->
        <div class="cat-panel" style="display:none" ng-mouseleave="HideCategoryPanel()">
            <div class="filters-list">
                <h5>Games Genre</h5>
                <ul class="list-unstyled">
                    <li ng-repeat="afilter in Gamesfilters">
                        <label>
                            <input type="checkbox" value="{{afilter.Name}}" ng-click="FilterCheck($event)" checked>
                            <!--<span> </span>-->
                            <span>{{afilter.Name}}</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <div style="position: absolute; right: 5%; text-align: center; top: 10px; z-index: 10;" ng-if="AuthSvc.User">
            <span style="position: absolute; color: white; margin-left: -30px; margin-top: 6px; text-align: center; background-color: #A80404; border-radius: 50px; width: 22px; height: 22px; background-color: #E68017; box-shadow: inset 0 0 10px red"></span>
            <span ng-click="CartView()" style="cursor:pointer; position: absolute; color: white; margin-left: -34px; margin-top: 10px; width: 30px; font-size: 16px;">{{AuthSvc.CartProducts.length}}</span>
            <img ng-click="CartView()" style="cursor:pointer; /*position: absolute;*/ width: 25px; height: 25px; top: 0; margin-top: 4px; left: 0;" src="../../../Content/images/Pixbind/cart2.png" />
        </div>

        <div class="b-generic-nav-con" data-role="pagenav-con">
            <div class="b-generic-nav-main">
                <ul>
                    <li>
                        <a href="/" data-role="people-anchor" data-alias="construction,fitout,quality">Home</a>
                    </li>
                    <li>
                        <a href="/environment" data-role="people-anchor" data-alias="construction,fitout,quality">Environments</a>
                    </li>
                    <li>
                        <a href="/games" data-role="people-anchor" data-alias="construction,fitout,quality">Games</a>
                    </li>
                    <li>
                        <a href="/projects" data-role="people-anchor" data-alias="engineering">Projects</a>
                    </li>
                    <li>
                        <a href="/anim" data-role="people-anchor" data-alias="design">Animations</a>
                    </li>
                    <li>
                        <a href="/assets" data-role="people-anchor" data-alias="business,administrative">Assets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="col-md-12 BodyContainer">
        <div class="TermsandPolicy">
            <!--<img class="logo-fundator-terms" src="../../../Content/images/Pixbind/pixbindLogo.png">-->
            <div class="page-header">
                <h1 style="font-size: 2.8em;">Privacy Policy</h1>
            </div>
            Pixbind is committed to protecting your privacy. This Statement of Privacy applies to the Pixbind Website, Online system and governs data collection and usage. By using the Pixbind website/Online system, you consent to the data practices described in this statement.
            <p><p><strong style ="font-size: 1.4em;">Collection of your Personal Information</strong>
            <p>Pixbind collects personally identifiable information, such as your e-mail address, name, home or work address or telephone number in relation to booking examinations.
            <p>There is also information about your computer hardware and software that is automatically collected by Pixbind. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used by Pixbind for the operation of the service, to maintain quality of the service and to provide general statistics regarding use of the Pixbind website.
            <p>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through Pixbind public message boards, this information may be collected and used by others. Note: Pixbind does not read any of your private online communications.
            <p>Pixbind encourages you to review the privacy statements of websites to which you choose to link from Pixbind so that you can understand how those websites collect, use and share your information. Pixbind is not responsible for the privacy statements or other content on websites outside of the Pixbind websites.
            <p><strong style ="font-size: 1.4em;">Use of your Personal Information</strong>
            <p>Pixbind collects and uses your personal information to operate the Pixbind website and online systems. This enables us to deliver the services you have requested. Pixbind also uses your personally identifiable information to inform you of other products or services available from Pixbind and its affiliates. Pixbind may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
            <p>Pixbind does not sell, rent or lease its customer lists to third parties. Pixbind may share data with trusted partners to help us perform statistical analysis, send you email or postal mail, provide customer support or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Pixbind and they are required to maintain the confidentiality of your information.
            <p>Pixbind does not use or disclose sensitive personal information, such as race, religion, or political affiliations, without your explicit consent.</p>
            <p>Pixbind keeps track of the websites and pages our customers visit within Pixbind, in order to determine what Pixbind services are the most popular. This data is used to deliver customised content and advertising within Pixbind to customers whose behaviour indicates that they are interested in a particular subject area.</p>
            <p>Pixbind websites will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Pixbind or the site; (b) protect and defend the rights or property of Pixbind; and, (c) act under exigent circumstances to protect the personal safety of users of Pixbind, or the public.</p>
            <p><strong style ="font-size: 1.4em;">Use of Cookies</strong></p>
            <p>The Pixbind website use "cookies" to help you personalise your online experience. A cookie is a text file that is placed on your hard disk by a webpage server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a webserver in the domain that issued the cookie to you.</p>
            <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalise Pixbind pages, or register with Pixbind sites or services, a cookie helps Pixbind to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same website, the information you previously provided can be retrieved, so you can easily use the Pixbind features that you customised.</p>
            <p>You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Pixbind services or websites you visit.</p>
            <p><strong style ="font-size: 1.4em;">Security of your Personal Information</strong></p>
            <p>Pixbind secures your personal information from unauthorized access, use or disclosure. Pixbind secures the personally identifiable information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.</p>
            <p><strong style ="font-size: 1.4em;">Changes to this Statement</strong></p>
            <p>Pixbind will occasionally update this Statement of Privacy to reflect company and customer feedback. Pixbind encourages you to periodically review this Statement to be informed of how Pixbind is protecting your information.</p>
            <p><strong style ="font-size: 1.4em;">Contact Information</strong></p>
            <p>Pixbind welcomes your comments regarding this Statement of Privacy. If you believe that Pixbind has not adhered to this Statement, please contact Pixbind at <a href="mailto:cashout@live.com">customerservice@Pixbinduk.org</a> we will use commercially reasonable efforts to promptly determine and remedy the problem.</p>
            <br />
            <br />
        </div>

    </div>
</div>