<div style="margin-top: 200px; margin-left: 20%;">
<div class="page-header">
    <h1>Forgot Your Password?</h1>    
</div>

<form class="form-horizontal">
    <div ng-show="Status == 0">
        <div class="form-group">
            <p class="purpose">To reset your password, type the full email address you use to sign in to your account.</p>
            <label for="username" class="col-sm-2 control-label">Email address:</label>
            <div class="label-content col-sm-4 col-lg-3">
                <input name="username" class="form-control" type="text" ng-model="data.email" />
            </div>
        </div>    
        <div class="form-group">
            <div class="col-sm-8 col-lg-5 col-xs-12">            
                <button class="k-button margin-left-bottom-15" ng-click="Send()">Send</button>
                <button class="k-button margin-left-bottom-15" ng-click="Cancel()">Cancel</button>            
            </div>
        </div>
    </div>
    <div ng-show="Status == 1">
        Recovery Email Sent<br>
To reset your password, follow the instructions sent to your {{ data.email }} email address. <br>
Didn't receive the email? <a href="/recoverpassword">Try again.</a><br>
    </div>
    
</form>
</div>
