<div class="page-header">
    <h1>Manage Users</h1>
</div>
<div class="k-grid-filter-container">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-11 col-sm-4">Grid filtering interface:</label>   
            <div class="col-xs-11 col-sm-5">
                <label class="checkbox-inline">
                    <input type="radio" name="inlineRadios" id="Radio3" value="0" ng-checked="UsersCtrl.FilterMode == 0" ng-model="UsersCtrl.FilterMode">
                    Simple
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="inlineRadios" id="Radio4" value="1" ng-checked="UsersCtrl.FilterMode == 1" ng-model="UsersCtrl.FilterMode">
                    Advanced
                </label>
            </div>
        </div>
    </div>
    <div class="row col-xs-row" ng-show="UsersCtrl.FilterMode == 0">
        <div class="form-group col-sm-4">
            <input name="userName" type="text" class="form-control" placeholder="User name" upper-hint ng-model="UsersCtrl.Filter.Name" />
        </div>
        <div class="form-group col-sm-4">
            <input name="userFullname" type="text" class="form-control" placeholder="Full name" upper-hint ng-model="UsersCtrl.Filter.FullName" />
        </div>
        <div class="col-sm-3 col-xs-row">
            <input type="button" class="k-button margin-right-10" value="Search" ng-click="UsersCtrl.ApplyFilter()" />
            <input type="button" class="k-button" value="Clear" ng-click="UsersCtrl.ResetFilter()" />
        </div>
    </div>        
</div>
<div kendo-grid k-data-source="UsersCtrl.UsersDS" k-options="UsersCtrl.GridOptionsSimple" ng-show="UsersCtrl.FilterMode == 0">
</div>
<div kendo-grid k-data-source="UsersCtrl.UsersDS" k-options="UsersCtrl.GridOptionsAdv" ng-show="UsersCtrl.FilterMode == 1">
</div>
<div class="margin-bottom-15">
    <button class="k-button" ng-click="UsersCtrl.ShowAddUser()">Add</button>
</div>

<div style="display: none;" id="dlgAddUser">
    <div class="popup-content">
        <div class="">
            <div class="form-horizontal">                                
                <div class="form-group">                    
                    <div class="col-xs-offset-0 col-sm-offset-4">
                        <label class="checkbox">
                            <input name="chIsEmailUserToRegister" type="checkbox" ng-model="UsersCtrl.User.IsEmailUserToRegister" />
                            Email user to register
                        </label>                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="email" name="email" ng-model="UsersCtrl.User.Name" required ng-maxlength="50" ng-minlength="5" />
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-4 control-label">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="firstName" ng-model="UsersCtrl.User.FirstName" required ng-maxlength="20" ng-minlength="1" />
                    </div>                    
                </div>
                <div class="form-group">
                    <label for="surname" class="col-sm-4 control-label">Surname:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="surname" ng-model="UsersCtrl.User.Surname" required ng-maxlength="20" ng-minlength="1" />
                    </div>                    
                </div>

                    <div class="form-group" ng-show="!UsersCtrl.User.IsEmailUserToRegister">
                        <label for="password" class="col-sm-4 control-label">User Password:</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="password" type="password" autocomplete="off"
                                   ng-model="UsersCtrl.User.Password" ng-maxlength="20" />
                        </div>                        
                    </div>
                </div>            
        </div>
    </div>
    <div class="popup-footer">
        <div class="col-sm-5 col-sm-offset-3">
            <button class="k-button btn-ok col-sm-5 pull-left" ng-click="UsersCtrl.Save(UsersCtrl.User)">OK</button>
            <button class="k-button btn-cancel col-sm-5 pull-right">Cancel</button>
        </div>
    </div>
</div>
